<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="org.kh.member.model.vo.MemberVo" alias="MemberVo"/>
	</typeAliases>
	
	<environments default="dd">
		<environment id="dd">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:XE"/>
				<property name="username" value="jmo"/>
				<property name="password" value="jmo"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
	</mappers>
</configuration>
