<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="department1">

	<!-- <resultMap type="DepartmentVo2" id="resultMapDept3">
	id는 주로 PK 컬럼을 작성. 그외 result에 작성
		<id property="departmentNo" column="DEPARTMENT_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="category" column="CATEGORY"/>
		<result property="openYn" column="OPEN_YN"/>
		<result property="capacity" column="CAPACITY"/>
	</resultMap> -->
	<resultMap type="kh.test.jdbckh.board.model.dto.BoardDto" id="resultMapDept3">
	<!-- collection/association 사용된 경우 id 반드시 사용.  [[[중요]]] -->
		<id property="bno" column="bno"/>
		<result property="btitle" column="btitle"/>
		<result property="bcontent" column="bcontent"/>
		<result property="bwrite_date" column="bwrite_date"/>
		<result property="mid" column="mid"/>
		<result property="bref" column="bref"/>
		<result property="bre_level" column="bre_level"/>
		<result property="bre_step" column="bre_step"/>
		<collection property="attachiFileList" ofType="kh.test.jdbckh.board.model.dto.BoardDto">
			<result property="filepath" column="filepath"/>
		</collection>
	</resultMap>

	<!-- resultType="DepartmentVo2" 사용 불가. 컬럼명, 필드명이 다름 -->
	<!-- <select id="selectDepartmentList" resultType="DepartmentVo2"> -->
	<!-- <select id="selectList0" resultMap="resultMapDept3">
		SELECT DEPARTMENT_NO, DEPARTMENT_NAME, CATEGORY, OPEN_YN, CAPACITY FROM TB_DEPARTMENT
	</select>
	<select id="selectOne0" resultMap="resultMapDept3" parameterType="string">
		SELECT DEPARTMENT_NO, DEPARTMENT_NAME, CATEGORY, OPEN_YN, CAPACITY 
		FROM TB_DEPARTMENT
		WHERE DEPARTMENT_NO = #{departmentNo4}
	</select>
	<insert id="insert0" parameterType="DepartmentVo2">
		INSERT INTO TB_DEPARTMENT (DEPARTMENT_NO, DEPARTMENT_NAME, CATEGORY, OPEN_YN, CAPACITY)
		VALUES (#{departmentNo}, #{departmentName}, #{category}, #{openYn}, to_number(#{capacity}))
	</insert> -->
	<select id="selectList0" resultMap="resultMap3">
		select bno,btitle,bwrite_date,bcontent,mid,bref,bre_level,bre_step, filepath from board tb join attache_file ta using(bno)
	</select>
</mapper>
